* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  text-align: center;
  line-height: 1.5;
  margin: 0px;
}

.dropdown {
  visibility: visible;
  display: inline-block;
  position: fixed;
  left: 0px;
  top: 0px;
  margin-left: 3px;
}

.nav-links {
  top: 50%;
}

nav,
footer {
  padding: 1% 0;
  background-color: #00cfff;
  color: #1c304a;
  font-size: 25px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding-right: 20px;
  height: 50px;
}

header {
  padding: 12% 0;
  background-color: #1c304a;
  color: #00cfff;
  font-family: "Raleway-bold", sans-serif;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #b3efff;
  color: #1c304a;
}

section:nth-child(even) {
  background-color: white;
  color: #1c304a;
}

h2 {
  font-family: "Raleway-bold", sans-serif;
}

p {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
}

footer {
  background-color: #1c304a;
  color: #00cfff;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 700px) {
  nav {
    text-align: center;
  }
  p {
    text-align: center;
  }
  .pictures {
    height: auto;
    max-width: 75%;
  }
  .dropdown {
    display: none;
  }
  .item_menu {
    visibility: visible;
  }
  .dropdown-content,
  .dropdown-content a {
    visibility: visible;
  }
  .nav-links {
    visibility: visible;
  }
}

@media screen and (min-width: 1200px) {
  p {
    text-align: center;
  }
  .pictures {
    max-width: 75%;
    height: auto;
  }
  nav {
    text-align: right;
  }
  .dropdown {
    display: none;
  }
  .item_menu {
    visibility: visible;
  }
}

.linkto {
  color: #00cfff;
}

.item_menu {
  color: #1c304a;
}

html {
  scroll-behavior: smooth;
}

.live-site,
.repo {
  color: #1c304a;
}

.pictures {
  width: 100%;
  height: auto;
}

#contact-info {
  text-align: justify;
}

.linkto {
  display: inline-block;
}

#contact-info:after {
  content: " ";
  width: 100%;
  display: inline-block;
}

.dropdown-content,
.dropdown-content a {
  visibility: visible;
}

.nav-links {
  visibility: hidden;
  display: inline-block;
}
